<% @budgets.each do |budget| %>
<body onload="loadBarChart(<%= budget.category_names %>, <%= budget.category_percent %>), loadPieChart(<%= budget.category_names %>, <%= budget.category_percent %> )"> 

  <div class="container" style="width:400px; height:400px;">
  <div>Name: <%= budget.name%></div>
    <h2>Bar Chart</h2>
    <div>
      <canvas id="barChart"></canvas>
    </div>
  </div>
  <div class="container" style="width:300px; height:300px;">
    <h2>Pie Chart</h2>
    <div>
      <canvas id="pieChart"></canvas>
    </div>
  </div>

  <button onclick="loadPieChart(<%= budget.category_names %>, <%= budget.category_percent %> )"> Load Pie Chart</button>
  <div>
    Budget belongs to:
    First Name: <%= current_user.first_name %>
    Last Name: <%= current_user.id%>
    <a href="/budgets/<%=budget.id%>/edit">Edit This Budget </a>
  </div>
  <% budget.categories.each do |category| %>
  <h3 > Name: <%= category['name'] %> </h3>
  <h3> Percentages: <%= category['percent'] %> </h3>
  <% end %>
  <%= form_tag "/budgets/#{budget.id}", method: :delete do %>
  <input type="submit" value="Delete this Budget">  
  <% end %>  

</body>
<% end %>