<div> All budgets belong to: <%= current_user.full_name %> </div>

<% @budgets.each do |budget| %>
<div class="container">
  <div>
    

  </div>
  

  <table class="table table-striped">
    <thead class="table-success">
      <tr>
        <th>  Categories  </th>
        <th>   Amount </th>
        <th>  Percentage  </th>
      </tr>
    </thead>
    <tbody>
      <% sum = 0 %>
      <% budget.categories.each do |category| %>              
      <tr>
        <% percent =  category['percent'] %>
        <% amount  =  percent * @monthly_income * 0.01 %>
        <td> <%= category['name'] %> </td>
        <td> <%= number_to_currency(amount.round, precision: 0) %> </td>
        <% sum += amount.round %>
        <td> <%= percent %>% </td>  
        <% end %>
      </tr>
      <tr>
        <td> <label> Total </label>  </td>
        <td> <label> <%= number_to_currency(sum, precision: 0) %> </label> </td>
        <td> <label> <%= number_to_currency(budget.category_percent.sum.round, precision: 0) %>% </label>  </td>
      </tr>
    </tbody>
  </table>


  <!-- View -->
  <div>
    <%= link_to("View", "/budgets/#{budget.id}", class: "mb-1 btn btn-green", method: :get) %>   
  </div> 
  <!-- Edit -->
  <div>
    <a class="mb-1 btn btn-orange" href="/budgets/<%=budget.id%>/edit">Edit</a>
  </div>
  <!-- Delete -->
  <%= form_tag "/budgets/#{budget.id}", method: :delete do %>
  <input  class="mb-1 btn btn-red" type="submit" value="Delete">  
  <% end %>
</div>
<% end %>