<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @budget.name %></title>
</head>
<body onload="loadBarChart(<%=@budget.category_names %>,<%= @budget.category_percent %>), loadPieChart(<%= @budget.category_names %>, <%= @budget.category_percent %>)">


  <div class="row">
    <div  class="col-sm-8">
      <div>Name: <%= @budget.name%></div>
      <p>Bar Chart</p>
      <div>
        <canvas id="barChart"></canvas>
      </div>
    </div>
    <div class="col-sm-4 " id="pie_Chart">
      <p>Pie Chart</p>
      <div>
        <canvas id="pieChart"></canvas>
      </div>
    </div>



    <div>Budget belongs to  :
     <%= current_user.first_name %> <%= current_user.last_name %>
   </div> 
   <a href="/budgets/<%=@budget.id%>/edit">Edit This Budget </a>
 </div>

 <%= form_tag "/budgets/#{@budget.id}", method: :delete do %>
 <input class="btn btn-danger" type="submit" value="Delete this Budget">  
 <% end %>

 <div class="row">
   <div class="col-md-6">
    <% @budget.categories.each do |category| %>
  
    <div class="row mt-4">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <h5 class="mt-0">
        <%= category['name'] %> (<%= category['percent'] %> %) 
        </h5>
        <div class="progress mb-3">
          <div class="progress-bar w-96" data-toggle="progress-bar-animated-progress" role="progressbar" aria-valuenow="<%= category['percent'] %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <% end %>
    
  </div>
</div>
</body>
</html>





