<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body onload="loadBarChart(<%= @budget.category_names %>, <%= @budget.category_percent %>)"> 

  <div class="container">
    <h2>Bar Chart</h2>
    <div>
      <canvas id="barChart"></canvas>
    </div>
  </div>

 <a href="/budgets/<%=@budget.id%>/edit">Edit</a>
  <div class="container">
    <h2>Pie Chart</h2>
    <div>
      <canvas id="pieChart"></canvas>
    </div>
  </div>

  <button onclick="loadPieChart(<%= @budget.category_names %>, <%= @budget.category_percent %> )"> Load Pie Chart</button>

  Budget belongs to:
  First Name: <%= @current_user.first_name %>
  Last Name: <%= @current_user.id%>

  <% @budget.categories.each do |category| %>
  <h3 > Name: <%= category['name'] %> </h3>
  <h3> Percentages: <%= category['percent'] %> </h3>
  <% end %>

  Current User ID: <%= current_user.id %>
  Budget ID: <%= @budget.id %>

  <%= form_tag "/budgets/#{@budget.id}", method: :delete do %>
  <input type="submit" value="Delete this Budget">  
  <% end %>
    
</body>
</html>





