<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @budget.name %></title>
</head>
<body onload="loadLineChart(<%= @category_hash.to_json %>), loadDoughnutChart(<%= @cat_sum.to_json %>)">

 <% if @transactions %>
 <table class="table table-striped">
   <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Category</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction|%>
    <tr>
      <td><%= transaction['date'] %></td>
      <td><%= transaction['name'] %> </td>
      <td><%= transaction['category'].to_s.delete "[" "]" "\"" %></td>
      <td>$<%= transaction['amount'] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<div class="container">
  <div class="row">
    <div class="col">
      <canvas id="lineChart"></canvas>
    </div>
    <div class="col md-4">
      <canvas id="doughnutChart"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col">
      
      <table class="table table-striped">
        <thead class="table-success">
          <tr>
            <th>  Category  </th>
            <th>  Your Spending </th>
          </tr>
        </thead>
        <tbody>
          <% @cat_sum_keys.each do |category| %>              
          <tr>
            <td> <%= category.to_s.delete "[" "]" "\"" %> </td>
            <td> $<%= @cat_sum[category] %></td>  
            <% end %>
          </tr>
          <tr>
            <td> <label> Total </label>  </td>
            <td> <label> <%= @cat_total %> </label> </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <label> Most spending </label>
      <div> <strong> <%= @sorted_cat_hash [0][1] %></strong>  Purchases in </div>
      <div> <%= @sorted_cat_hash [0][0] %> </div>
    </div>
  </div>
</div>
</body>
</html>





