<h4>Profile</h4>
<p>Your information:</p>
<p>First Name: <%= @user.first_name%></p>
<p>Last Name: <%= @user.last_name %></p>
<p>Email: <%= @user.email %></p>
<a class="mb-2 btn btn-outline-primary" href="/users/<%= @user.id %>/edit"> Update Profile </a>
<%= form_tag '/users', method: :delete do %>
<input class="mb-2 btn btn-outline-danger" type="submit" value="Delete Account"> 
<% end %>
