<h3>Profile</h3>
<h4>Your information:</h2>
<h4>First Name: <%= @user.first_name%></h4>
<h4>Last Name: <%= @user.last_name %></h4>
<h4>Email: <%= @user.email %></h4>
<a href="/users/<%= @user.id %>/edit"> Update Profile </a>
<%= form_tag '/users', method: :delete do %>
<input type="submit" value="Delete Account"> 
<% end %>
 <div><button id="link-button">Link Bank Account</button>

  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <script type="text/javascript">
    var handler = Plaid.create({
      clientName: 'mBudget by Daniel Mai',
      env: 'development',
  key: '7d13eb84ca8559b6020bc3a71639c6', // Replace with your public_key to test with live credentials
  product: ['auth', 'transactions'],
  
  onLoad: function() {
    // Optional, called when Link loads
  },
  onSuccess: function(public_token, metadata) {
    // Send the public_token to your app server.
    // The metadata object contains info about the institution the
    // user selected and the account ID, if `selectAccount` is enabled.
    $.post('/get_access_token', {
      public_token: public_token,
    });
  },
  onExit: function(err, metadata) {
    // The user exited the Link flow.
    if (err != null) {
      // The user encountered a Plaid API error prior to exiting.
    }
    // metadata contains information about the institution
    // that the user selected and the most recent API request IDs.
    // Storing this information can be helpful for support.
  }
});

    $('#link-button').on('click', function(e) {
      handler.open();
  // Alternatively, you can have a specific institution
  // prompt for authentication. Example:
  //
  // handler.open('ins_100000');
  //
  // This will open Link with Union Bank as the institution.
});
</script>
</div>



