<h3>Profile</h3>
<h4>Your information:</h2>
<h4>First Name: <%= @user.first_name%></h4>
<h4>Last Name: <%= @user.last_name %></h4>
<h4>Email: <%= @user.email %></h4>
<a href="/users/<%= @user.id %>/edit"> Edit </a>
<%= form_tag '/users', method: :delete do %>
<input type="submit" value="Delete Account"> 
<% end %>



