<!DOCTYPE html>
<html>
  <head>
    <title>Budget Webclient</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDb2kuwBtJq5JI18F5TUbioCzjEJe_PFk0&libraries=places&region=USA"></script>
  <div class="container"> 
   <% flash.each do |name, message| %>
   <div class="alert alert-<%=name%> alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
   <%= message %>
   </div> 
   <% end %>
   <%= yield %>
 </div>
  </body>
</html>
